setuptools==59.5.0
editdistance==0.6.2
matplotlib==3.3.3
numba==0.60.0
numpy==1.26.4
opencv-python==4.5.5.62
pillow==9.5.0
polygon3==3.0.9.1
rapidfuzz==2.13.7
scipy==1.13.1
scikit-image==0.24.0
scikit-learn==1.6.1
shapely==2.0.0
timm==0.5.4
tqdm==4.53.0
